@model IEnumerable<DataAccessLayer.usertable>

@{
    ViewBag.Title = "Users";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cnic)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cnic)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-primary" }) &nbsp;&nbsp;
                @if (item.interneetables.Count() ==0 && item.supervisortables.Count() ==0 && item.managerstables.Count() ==0)
                {
                    <button class="btn btn-danger" onclick="deleteItem(@item.id)">Delete</button>
                }
            </td>
        </tr>
    }

</table>
@section scripts{
<script>
    var website = location.protocol + "//" + window.location.host;
    function deleteItem(id) {
        var locale = $('#locales').val();
        bootbox.confirm({
            message: "Do you really want to delete?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-danger'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-success'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: website + "/user/delete/" + id,
                        type: 'POST',
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data, textStatus, xhr) {
                            window.location.reload();
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            console.log('Error in Operation' + textStatus);
                            window.location.reload();
                        }
                    });
                }
            }
        });
    }
</script>
    }